<% title "Search", false %>
	
<div id="search_wrap">
	<ul id="search_nav">
		<% if current_user %>
		<li id="friends" class="selected">Friends</li>
		<li id="everyone">
			<%= link_to "Everyone", search_everyone_path(params[:search]) %>  (<%= @everyone %>)</li>
		<% else %>
		<li id="everyone"  class="selected">Everyone (<%= @results.total_entries %>)</li>
		<% end %>
	</ul>

<h2> People with <strong>"<%= params[:search]%>"</strong> in their name: </h2>
 
		<% if current_user %>
		<% for user in @fb_friends %>
		<div id="search_item_<%= user.uid %>" class="search_item">
			<a href="/users/check/<%= user.uid %>">
			<%= image_tag(user.pic_square) unless user.pic_square.nil? %>
			<div class="search_item_info">
				<%= user.name %>
			</div>
			</a>
			<br class="clear">
		</div>	
		<% end %>
		<% end %>
	</div>
</div>

