<h3> You have <%= cards.count %> to give </h3> 
<div id="cards_wrap">	
	<% for card in cards %>
	<div id="card_<%= card.id %>" class="card">
		<% if user.to_i == friend.to_i %>
		<%= card.name %>
		<% else %>
		<%= link_to_remote card.name,  :url => { :controller => "badges", :action => "create", :id => card.id, :user_id => user, :friend_id => friend }, 
		:method => :post %>
		<% end %>
	</div>
	<% end %>
	<br class="clear">
</div>


<% if cards_given %>
<h3> You have already given <%= pluralize(cards_given.count, "card")   %> </h3> 
<div id="cards_wrap_given">	
	<% for card in cards_given %>
	<div id="card_<%= card.badge.id %>" class="card">
		<%= card.badge.name %>
		Given to <%= link_to card.data[:user_name], '/'+ card.data[:user_permalink] %>
		<%= link_to_remote "Revoke",  :url => { :controller => "badges", :action => "destroy", :id => card.id, :badge_id => card.badge.id }, 
		:method => :delete %>
	</div>
	<% end %>
</div>
<% end %>