<% title @user.name %>
	
<div id="user_wrap">

	<!-- Left User Info Column  -->
	<div id="user_info">
		<%= image_tag @user.image_large unless @user.image_thumb.nil? %>
		<div id="user_tags_wrap">
			<strong><%= firstName(@user.name) %> is:</strong>
			<ul id="user_tags">
				<% for tag in @user.tags.uniq %>
				<li><%= link_to tag.name, tag_path(tag.name) %></li>
				<% end %>
			</ul>
			<%= link_to "add a tag", "#", :id => "tag_link", :class => "right" %>
			<br class="clear">
			<%= render :partial => "shared/tag_friend", :locals => { :user_id => @user.id } %>
		</div>
		<div id="user_badges">
			<div id="profile_cards_wrap">	
				<%= render :partial => "badges/card", :collection => @user.badgeings, :as => :card %>
				<br class="clear">
			</div>
			<%= link_to_remote "Give a Card", :url => { :controller => "badges", :action => "show", :id => @user.id }, :method => :get, :complete => "load_box()",  :html => {:class => "give_card"} %>
		</div>
	</div>

	<!-- Right User Content Column  -->
	<div id="user_content">
		<!-- div id="user_whois">
			<% #render :partial => "shared/write_whois", :locals => { :user => @user, :whois => @whois } %>
			<% #unless @user.current_whois == 0 %>
			<% #render :partial => "shared/read_whois", :locals => { :user => @user.name, :note => @whois, :edit => true, :change => false } %>
			<% #end %>
			<script>
				<% if @user.current_whois != 0%>
				$('#write_whois').hide();
				<% end %>
				function write_whois()
				{
					$('#write_whois').show();
					$('#write_whois_byline').show();
					$('#read_whois').hide();
				}
				function read_whois()
				{
					$('#write_whois').hide();
					$('#write_whois_byline').hide();
					$('#read_whois').show();
				}
				
				$("#tag_link").click(function () {
				      $("#tag_form").toggle();
				});
				// $(".give_card").colorbox({width:"400px", inline:true, href:"#card_frame"});
				function load_box(){
					$('#card_frame').show();
					$.fn.colorbox({width:'500px', inline:true, href:'#card_frame', open:true,
					onCleanup:function(){ $('#card_frame').hide(); }					
					});
				}
			</script>
		</div> -->
		<script>
				$("#tag_link").click(function () {
				  $("#tag_form").toggle();
				});
				// $(".give_card").colorbox({width:"400px", inline:true, href:"#card_frame"});
				function load_box(){
					$('#card_frame').show();
					$.fn.colorbox({
						width: '500px',
						inline: true,
						href: '#card_frame',
						open: true,
						onCleanup: function(){
							$('#card_frame').hide();
						}
					});
				}
		</script>
		<div id="user_statements">
			<%= render :partial => "shared/write_statement", :locals => { :user_id => @user.id, :user_name => @user.name } %>
			<%= render :partial => "shared/read_statement", :collection => @user.statements, :as => :statement, :locals => { :moderate => false, :vote => true } %>
		</div>
	</div>
</div>

<div id="card_frame" style="display:none">
	
</div>