<% title @user.name %>
	
<div id="user_wrap">

	<!-- Left User Info Column  -->
	<div id="user_info">
		<div id="user_pic">
		<%= image_tag @user.image_large %>
		</div>
		<div id="user_tags_wrap">
			<ul id="user_tags">
				<% for tag in @user.tags.uniq %>
				<li><%= link_to tag.name, tag_path(tag.name) %></li>
				<% end %>
			</ul>
			<br class="clear">
		</div>

		<div id="user_badges">
			<div id="profile_cards_wrap">	
				<%= render :partial => "badges/card", :collection => @user.badgeings, :as => :card %>
				<br class="clear">
			</div>
			<%= link_to_remote "You have #{@badges} cards left to give", :url => { :controller => "badges", :action => "show", :id => @user.id }, :method => :get, :complete => "load_box()",  :html => {:class => "give_card"} %>

		</div>
	</div>

	<!-- Right User Content Column  -->
	<div id="user_content">
		<% if  @user.current_whois != 0 %>
		<div id="user_whois">
			<%= render :partial => "shared/read_whois", :locals => { :user => @user.name, :note => @whois, :edit => false, :change => true } %>
			<% form_for current_user do |f| %>
				<%= f.hidden_field :current_whois, :value => 0 %>
				<%= f.submit "Clear who is" %>
			<% end %>
		</div>
		<% end %>
		<div id="user_statements">
			<%= render :partial => "shared/read_statement", :collection => @user.statements, :as => :statement, :locals => { :moderate => true, :vote => true }  %>
		</div>
	</div>
</div>

<script>

function load_box(){
	$('#card_frame').show();
	$.fn.colorbox({width:'500px', inline:true, href:'#card_frame', open:true,
	onCleanup:function(){ $('#card_frame').hide(); }					
	});
}

</script>

<div id="card_frame" style="display:none"></div>


