<div id="read_statement<%= statement.id %>" class="read_statement">
	<div class="thumbnail">
		<%= userThumb(statement.friend_id) %><%= image_tag "bubble_tip.png" %>
	</div>
	
	<div id="statement_block">
	<p id="question<%= statement.id %>" class="question">
		<i><%= statement.question %></i>
	</p>

	<p id="content<%= statement.id %>" class="content">
		"<%= statement.content %>"
	</p>
	<div class="byline_wrap">
		<div id="byline<%= statement.id %>" class="byline left">
			by <%= link_to statement.by, "/#{statement.by_link}" %>, <%= time_ago_in_words statement.created_at %> ago
		</div>
		<div class="actions left">
		<% if vote %>
		<% user = {:permalink=>current_user.permalink, :name=>current_user.name, :id=> current_user.id} %>
		
			<% if(statement.vote_data[:likers].include?(user)) %>
			<span id="like-<%= statement.id %>" class="voted left">Like</span>
			<% else %>
			<span id="like-<%= statement.id %>" class="left"> <%= link_to_remote "Like",  :url => { :controller => "statements", :action => "vote", :id => statement.id , :type => "like" }, :method => :post %></span>
			<% end %>
			<div id="statement_vote_<%= statement.id %>" class="left score <%= score_class(statement.score) %>">
			<%= statement.score %>
				<div id="statement_vote_<%= statement.id %>_score" class="vote_tip rounded-10" display>
					<div class="likers">
						<% for liker in statement.vote_data[:likers] %>
							<%= liker[:name] %><br class="clear">
						<% end %>
					</div>
					<div class="dislikers">
						<% for liker in statement.vote_data[:dislikers] %>
							<%= liker[:name] %><br class="clear">
						<% end %>
					</div>
				</div>
			</div>
			<% if statement.vote_data[:dislikers].include?(user) %>

			<span id="dislike-<%= statement.id %>" class="voted left">Dislike</span>
			<% else %>
			<span id="dislike-<%= statement.id %>" class="left"><%= link_to_remote "Dislike",  :url => { :controller => "statements", :action => "vote", :id => statement.id , :type => "dislike" }, :method => :post %></span>
			<% end %>
		<% end %>
			<% if moderate %>
			<%= link_to "Respond", "/#{statement.by_link}" %>
			<%= link_to_remote "X",  :url => { :controller => "statements", :action => "destroy", :id => statement.id }, :method => :delete %>
			<% end %>
		</div>
	</div>
	</div>
	<br class="clear">
</div>