<div id="write_statement">
  <% remote_form_for :statement, :url => { :controller => "statements", :action => "create" }, :id => "statment_form" do |f| %>
	    <%= f.hidden_field :user_id, :value => user_id %>
	    <%= f.hidden_field :friend_id, :value => current_user.id %>
	    <%= f.hidden_field :by, :value => current_user.name %>
	    <%= f.hidden_field :by_link, :value => current_user.permalink %>
	    <%= f.label :question %><br>
	    <%= f.text_field :question, :class => "question", :value => random_question(user_name) %>
	    <%= f.text_area :content, :class => "content" %>
		<%= f.submit "Say It" %>
	<% end %>
</div>
