<% title "Tag", false %>
	
<div id="search_wrap">
	<ul id="search_nav">
		<% if current_user %>
		<li id="friend"><%= link_to "Friends", tag_path(params[:tag])%></li>
		<% end %>
		<li id="everyone" class="selected">Everyone</li>
	</ul>

<h2> Everyone tagged with <strong><%= params[:tag].upcase %></strong></h2>
 
	<div id="search_results">
		<% x = 1 %>
		<% for user in @results %>
		<div id="search_item_<%= user.id %>" class="search_item">
			<div class="tag_rank">#<%= x%></div>
			<a href="/<%= user.permalink %>">
			<%= image_tag user.image_thumb %>
			</a>
			<div class="search_item_info">
				<%= link_to user.name, '/'+user.permalink %>
				<br>
				<%= first_tag(user.taggings, @tag.id) %>
				<%= agree_tags(user.taggings, @tag.id) %>
				<%= disagree_tags(user.taggings, @tag.id)%>
			</div>
			<br class="clear">
		</div>	
		<% x+=1 %>
		<% end %>
		<%= will_paginate @results %>
	</div>
</div>

