<% title "Tag", false %>
	
<div id="search_wrap">
	<ul id="search_nav">
		<li id="everyone" class="selected">Friends (<%= @results.total_entries %>)</li>
		<li id="everyone"><%= link_to "Everyone", everyone_tag_path(params[:tag]) %></li>
	</ul>

<h2> Your <strong><%= params[:tag].upcase %></strong> friends:</h2>
 
	<div id="search_results">
		<% x = 1 %>
		<table width="400px">
		<% for user in @results %>
		<tr><td>
		<div id="search_item_<%= user.id %>" class="search_item">
			
			<div class="tag_rank">#<%= x%></div>
			<a href="/<%= user.permalink %>">
			<%= image_tag user.image_thumb %>
			</a>
			<div class="search_item_info">
				
				<%= link_to(user.name, '/'+user.permalink) unless user == current_user %>
				<%= link_to("Me", '/'+user.permalink) if user == current_user %>

				<br>
				<%= first_tag(user.taggings, @tag.id) %>
				<%= agree_tags(user.taggings, @tag.id) %>
				<%= disagree_tags(user.taggings, @tag.id)%>
				<span>
					<%= link_to "Agree", vote_tag_path(:tag => params[:tag], :user => user.id, :state => 1)%>
					
					<%= link_to "Disagree", vote_tag_path(:tag => params[:tag], :user => user.id, :state => 0)%>
				</span>
				</td>
				<td>
				<div class="tag_score"> <%= tag_score(user.taggings, @tag.id) %></div>

				</td></tr>
			</div>
			<br class="clear">
		</div>	
		<% x+=1 %>
		<% end %>
		</table>
		<%= will_paginate @results %>
		
	</div>
</div>

